@import url("https://fonts.googleapis.com/css?family=Nobile");

@import "variables";
@import "mixins";
@import "product-item";
@import "product-items";

.compillery-product-recommendations {

  // Base setup
  font-size: #{$base-font-size}px;
  font-family: $base-font-family;
  padding: 30px 0;
  -webkit-text-size-adjust: 100%;
  overflow: auto;
  background-color: #fff;

  // Component styles

  @include product-item__image-wrapper--square;
  @include product-item__image-wrapper--16-9;
  @include product-item__image;
  @include product-item__toggle;
  @include product-item__toggle-icon--expand;
  @include product-item__title;
  @include product-item__price;
  @include product-item__action;
  @include product-items__title;
  @include product-items__container;
  @include product-items__grid;
  @include product-items__breaks;

  // Styles for Modern Mobile Smart Phones (Extra Small Screens+)
  @media screen and (min-width: $screen-xs-min) {
    @include product-item__image-wrapper--square--xs;
    @include product-item__image-wrapper--16-9;
  }

  // Styles for Mobile Tablet Portrait (Small Screens)
  @media screen and (min-width: $screen-sm-min) {
    @include product-item__image-wrapper--square--sm;
    @include product-item__image-wrapper--16-9--sm;
    @include product-item__title--sm;
    @include product-items__container--sm;
    @include product-items__grid--sm;
  }

  // Styles for Low resolution displays (Medium Screens)
  @media screen and (min-width: $screen-md-min) {
    @include product-item__image-wrapper--square--md;
    @include product-item__image-wrapper--16-9--md;
    @include product-item__action--md;
    @include product-item__image-container--md;
    @include product-item__title-container--md;
    @include product-item__price-container--md;
    @include product-item__action-container--md;
    @include product-items__title--md;
    @include product-items__container--md;
  }

  // Styles for Low resolution displays (Large Screens)
  @media screen and (min-width: $screen-lg-min) {
    @include product-item__image-wrapper--square--lg;
    @include product-item__image-wrapper--16-9--lg;
    @include product-item__action--lg;
    @include product-items__container--lg;
  }
}
